body {
    margin: 0;
    background-color: #3AAFA9;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* universal color for all alternative text on images */
img {
    color: #DEF2F1;
}

/* all paragraph tags have a bit of boldness */

p {
    font-weight: 600;
    letter-spacing: .06vw;
}

/* display: flex and align-items: center so everything can be on the same page */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    align-self: flex-start;
    top: 0;
    overflow-y: auto;
    background-color: #17252A;
    border-bottom: solid black .1vw;

}

header a:hover {
    color: white;
    text-decoration: underline;
}

/* display: flex so everything can be on the same line */
header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header ul li {
    padding: 3vw;
    font-weight: 700;
}

/* combine header anchor tags and footer anchor tags to get rid of the underline */
header ul li a {
    text-decoration: none;
    color: white;
}

/* default font of white for all labels so they can be seen clearly */
label {
    color: #FFF;
}

.search-label {
    font-weight: bolder;
    margin-top: 1.1%;
}

#gallery {
    margin-top: 5%;
    margin-left: 42%;
    background-color:#17252A;
    text-align: center;
    color: white;
    width: 15%;
    height: 5%;
    border: .2px solid white;
}

.slideshow {
    width: 100%;
    display: none;
    object-fit: contain; /* so image covers whole div space */
}

summary {
    font-size: 2vh;
    padding-top: 3vh;
}

details {
    padding-top: 2vh;
    font-size: 1.5vh;
}

#logo-top {
    display: inline-block;
    width: 5%;
    height: 5%;
    margin-left: 5%;
    padding: 1vw;
    min-height: 45px;
    min-width: 45px;
}

#logo-bottom {
    display: inline-block;
    width: 20%;
    height: 20%;
    margin-left: 3%;
    min-height: 100px;
    min-width: 100px;
}

.social-media-logo {
    display: inline-block;
    width: 7%;
    height: 7%;
    min-height: 40px;
    min-width: 40px;
    margin-bottom: -3%;
}

/* set this margin-bottom to a different length */


.social-media-link {
    display: inline-block;
    word-wrap: break-word;
}

h1 {
    color: white;
    letter-spacing: .15vw;
    font-weight: 900;
    padding-left: 1vw;
}

#slogan {
    padding-top: 5vh;
    text-align: center;
}

#slogan-below {
    color: #DEF2F1;
    padding-top: 2vh;
    text-align: center;
    font-weight: 600;
}

.consumer-review-header {
    color: white;
    margin-top: -2vw;
    padding-bottom: 2vh;
    word-wrap: break-word;
}

.consumer-review {
    display: inline-block;
    text-align: center;
    padding: 5vw;
    font-weight: 600;
    border-style: solid;
    border-width: .1vw;
    border-color: black;
    width: 30%;
    background-color: #17252A;
    
    
}

.consumer-review-text {
    color: #DEF2F1;
    word-wrap: break-word;
}

#middle {
    padding-top: 8vh;
    text-align: center;
}

footer h3 {
    color: white;
    letter-spacing: .15vw;
    font-weight: 900;
    padding-left: 1vw;
}
footer ul {
    list-style-type: none;
    list-style: none;
    margin-top: 5vh;
    padding-left: 0;
}

footer h2  {
    margin-top: 15%;
}
footer a {
    padding: 1.5vh;
    color: white;
    font-weight: 600;
    letter-spacing: .15vw;
    word-wrap: break-word;
}

footer ul li, footer ul li a {
    padding: 1.5vh;
    color: white;
    font-weight: 600;
    letter-spacing: .15vw;
    word-wrap: break-word;
}

footer {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    margin-top: 5vh;
    border-style: solid;
    background-color: #17252A;
    
}

.social-media-section {
    display: inline-block;
    word-wrap: break-word;
}


footer a:hover {
    text-decoration: none;
    color: #DEF2F1;
}

#footer-portion {
    width: 30%;
    text-align: center;
    display: inline-block;
}

#footer-portion-two {
    width: 30%;
    float: right;
    margin-top: 5vh;
    word-wrap: break-word;
}

#footer-portion-two h2 {
    color: #DEF2F1;
}


input[type = "text"] {
    box-sizing: border-box;
    width: 70%;
    height: 60px;
    font-size: 2vh;
    padding: 1vw;
    font-weight: 600;
    border-width: .1vw;
    word-wrap: break-word;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: #17252A;
    color: #FFF;
}

input:focus {
    outline: none;
}

button {
    box-sizing: border-box;
    margin-left: -.5vw;
    background-color: white;
    border-style: none;
    color: #17252A;
    font-weight: 900;
    letter-spacing: .15vw;
    font-size: 2.8vh;
}

.search-button {

}

/* about.html */

#founder-image {
    width: 20%;
    height: 20%;
}

/* enlarge the header tags above normal */
#about-header-h3 { 
    font-size: 3vh;
}

#about-paragraph {
    background-color: #17252A;
    border-style: solid;
    border-color: black;
    border-radius: .5vw;
    padding: 3vw;
    color: #FEFFFF;
    word-spacing: .5vw;
    width: 50%;
}

#about-paragraph-section {
    padding-left: 25vw;
}

/* faq.html */

#middle ul li {
    color: white;
    list-style-type: none;
    font-weight: 600;
}

.faq-question {
    font-weight: 800;
    font-size: 2vh;
}

/* getstarted.html */

#middle-getstarted {
    text-align: center;
}

.search-form {
    display: flex;
}

.textarea-form {
    color: white;
    background: transparent;
    overflow: hidden;
    resize: none;

}

.search-button {
    margin-left: 1%;
    margin-right: 5%;
    margin-bottom: 3%;
    border: .5px solid #17252A;
}

#form-free {
    margin-top: 10vh;
    text-align: center;
    width: 100%;
}

#free-search, #extended-search {
    box-sizing: border-box;
    width: 70%;
    height: 60px;
    font-size: 2vh;
    padding: 1vw;
    font-weight: 600;
    border-width: .1vw;
    word-wrap: break-word;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background-color: #17252A;
    color: #FFF;
    text-align: left;
    margin-left: 5%;
}
#free-search, #extended-search {
    background-color: #3AAFA9;
    color: #FFF;
}

#form-free h2 {
    font-size: 4vh;
    font-weight: 900;
    letter-spacing: .1vw;
}

#login-signup-link {
    padding-top: 5vh;
}

#login-signup-link a {
    color: white;
    letter-spacing: .1vw;
}

#login-signup-link a:hover {
    text-decoration: none;
}


/* login.html */

#login {
    background-color: #17252A;
    height: 50vh;
    width: 60%;
    overflow: hidden;
}

/* section */
#login-form {
    margin-left: 30%;
}

#login-button {
    display: block;
    width: 50%;
    margin: 0 auto;
    word-wrap: break-word;
    border-style: solid;
    background-color: #1a2e33;
    color: white;
}

.login-text {
    margin-top: 3vh;
}

#login-bottom-section {
    padding-top: 6vh;
}
#login div a {
    color: white;
    text-decoration: none;
    letter-spacing: .15vw;
}

#login div a:hover {
    text-decoration: underline;
}

#login-switch {
    margin-top: 20%;
    padding-left: 1vw;
    padding-right: 1vw;
}

/* signup.html */

/* productOne.html, productTwo.html */

#scanner-info {
    display: inline-flex; /* to get content centered with no <br> tags */
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-bottom: 5vh;
}

#entry-level-image, #enterprise-level-image {
    border: solid .1vw #1a2e33;
}
#entry-level-paragraph, #enterprise-level-paragraph {
    padding-bottom: 17vh; /* push footer to bottom */
    padding-left: 5vw;
}

/* dashboard.html */

.country-set {
    text-decoration: underline;
}

#current-database {
    border-style: solid;
    max-width: fit-content;
    padding: 2vw;
    color: white;
    background-color: #17252A;
    display: block;
    margin: auto; /* center */
    margin-top: 10vh; /* define this after margin: auto to override it */
}

/* account.html */

#password-reset {
    background-color: #17252A;
    width: fit-content;
    height: fit-content;
}

#password-reset-form {
    padding: 5vh;
    border: solid black .1vw;
}

.reset-field {
    width: fit-content !important; /* override input field properties */
    height: 10% !important; /* override input field properties */
    display: block;
    margin-bottom: 2vh;
    font-size: 1.5vh !important; /* override input field properties */
    color: white;
}

#reset-field-button {
    font-size: 2vh;
    width: 100%;
    margin-left: .05vw;
    height: fit-content;
}

#member {
    width: fit-content;
    margin-left: 2%;
    padding-bottom: 5%;
    padding-top: 5vh;
}

#reset-password-label {
    color: white;
    text-align: center;
    padding-top: 2vh;
}

#audit-log {
    background-color: #17252A;
    color: white;
    width: fit-content;
    padding: 3vw;
    border: solid black .1vw;
    margin-right: 3vw;
}

#audit-table {
    margin: 0 auto;
    padding: 2vh;
    font-size: 2vh;
}

.audit-table-td {
    padding: 1vh;
}

#audit-log h2 {
    font-size: 2.5vh;
}

#audit-log p {
    font-size: 1.25vw;
}

#middle-inline {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* history.html */

#accuracy {
    background-color: #17252A;
    color: white;
    padding: 5vh;
    border: solid black .1vw;
}

.audit-th {
    text-decoration: underline;
}